body{
    background: url(assets/destination/background-destination-desktop.jpg) no-repeat;
    background-size: cover;
}
#destination{
    border-bottom: 1px solid white;
}
.destination-content{
    display: flex;
    justify-content: space-between;
    padding: 0 140px;
}
.planets{
    display: flex;
}
.planets a{
    margin-left: 0;
    margin-right: 30px;
}
.planet-stats{
    max-width: 445px;
}
h1{
    color: white;
    font-size: 100px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}
.planets-hr{
    border: .1px solid white;
    left: 0;
}
@media only screen and (max-width: 768px){
    body{
        background: url(assets/destination/background-destination-tablet.jpg) no-repeat;
    }
}