body{
    background: url(assets/home/background-home-desktop.jpg) no-repeat;
    background-size: cover;
}
section{
    display: flex;
    justify-content: space-between;
    padding: 160px 160px 0 160px;
    align-items: flex-end;
}
#intro-text{
    max-width: 450px;
    text-align: left
}
h2{
    color: #D0D6F9;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight:100;
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 150px;
    font-family: 'Bellefair', serif;
}
p{
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
}
#explore{
    background: white;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    text-align: center;
    line-height: 274px;
}