@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Barlow:wght@100;200;300;400;600&family=Bellefair&display=swap');
/* font-family: 'Barlow', sans-serif;

font-family: 'Barlow Condensed', sans-serif;

font-family: 'Bellefair', serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    max-width: 1440px;
    margin: 0 auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 50px;
    margin-top: 50px;
}
/* nav>div{
    -webkit-backdrop-filter: blur(10px);
} */
hr{
    border: 0.5px solid white;
    width: 400px;
    position: relative;
    left: 50px;
}
a{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: 30px;
    padding: 20px 0;
}
h3{
    color: white;
    margin: 50px;
    text-transform: uppercase;
}
p{
    color: #D0D6F9;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 30px;
}
@media only screen and (max-width: 768px){
    body{
        max-width: 768px;
    }
    p{
        font-size: 16px;
    }
}