body{
    background: url(assets/technology/background-technology-desktop.jpg) no-repeat;
    background-size: cover;
}
.tech-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-container{
    display: flex;
}
.circle-link{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: .5px solid white;
}
.circle-link:hover{
    background-color: white;
}
h1{
    color: white;
    font-size: 56px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
}
.tech-text{
    width: 470px;
}